@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

:root{
    --cor1: #284899;
    --cor2: #759CFF;
    --cor3: #527CE6;
    --cor4: #ce9d21;
    --cor5: #E6BB53;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Bebas Neue', sans-serif;
    --fonte3: 'Didact Gothic', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    margin: auto;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
}

.guias {
    display: flex;
    gap: 40px;
    font-family:var(--fonte2);
    font-size: 30px;
    color: var(--cor4);
}

.menu {
    padding: 10px;
    border-radius: 15px;
}

.menu:hover {
    background-color: var(--cor5);
    color: white;
    transition: 0.5s;
}

.imagem-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.titulo {
    background-color: var(--cor1);
    color: white;
    padding: 7px;
    font: normal 300 26px var(--fonte2);
    font-variant: small-caps;
    text-shadow: 2px 3px 5px black;
}

.conteudo, .lista {
    min-width: 98vw;
    margin: auto;
    justify-content: center;
    font: normal 400 20px var(--fonte3);
    padding: 40px 30px;
    line-height: 30px;
    background-image: linear-gradient(to right, var(--cor3),#ffffff);
}

.tabela {
    width: 98vw;
    margin: auto;
    padding: 30px;
    font-size: 20px;
    font-family: var(--fonte3);
}

.tabela-curso {
    width: 500px;
}

.corpo-tabela {
    background-image: linear-gradient(to right, var(--cor3),#ffffff);
}

td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    width: 300px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.521);

}

.rodapé {
    padding: 15px;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor4), var(--cor5));
    font-size: 22px;
    font-family: var(--fonte2);
}